
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif;
}
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
#body {
    position: absolute;
    width: 800px;
    height: 451px;
    left: 50%;
    top: 50%;
    margin: -225px 0 0 -400px;
    padding: 0;
    text-align: left;
    color: #000000;
}
.error { text-align: center; color: white; font-weight: bold; }
label { font-weight: bold; }

#bloc {
    margin: 50px auto;
    padding: 0;
    border: solid 1px #FFAE00;
    background-color: #ECEADE;
    width: 210px;
}
#bloc tr, #bloc tr td {
    margin: 0;
    padding: 0;
    color: #006699;
    font-size: 12px;
}
#bloc thead tr {
    margin: 0;
    padding: 0;
    color: #006699;
    background-color: #DDDAC4;
    font-size: 25px;
    font-weight: bold;
}
#bloc thead tr td {
    font-size: 16px;
    border-bottom: solid 1px #FFAE00;
}
#bloc tfoot tr {
    margin: 0;
    padding: 0;
    color: #006699;
    font-weight: bold;
}
#form-login {
    margin: 0;
    padding: 0;
}
input, textarea, select {
    background : #f9f9f9;
    border-width : 1px;
    border-style : solid;
    border-color : #000 #ccc #ccc #000;
}
input, textarea, select, option {
    font: 1em "DejaVu Sans","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}
input[type=text], input[type=password], textarea {
    padding : 2px 0;
}
input[type=submit], input[type=reset], input[type=button] {
    padding : 1px 2px;
    background : #d2e0e6 url() repeat-x bottom left;
    border-width : 1px;
    border-style : outset;
    border-color : #ccc;
}